header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;

    font-family: 'syne';

}

nav {
   color: white;
}

ol {
    display: flex;
    flex-direction: row;
}

li {
    margin: 0 0 0 20px;
    list-style-type: none;
}

li a{
    text-decoration: none;
}

.massage {
    background-color: #DCFD68;
    border-radius: 50% ;
}










.sub-header {
    background-color: #191928;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-sub-header {
    font-size: 118px;
}

.button-start {
    background-color: #DCFD68;
    color: #000000;
}

.button-start img {
    background-color: #000000;
    color: #ffffff;
}