@font-face {
    font-family: "syne";
    src: url(../assets/Fonts/Syne.ttf);
}



* {
margin: 0;
padding: 0;
}


body {
    background-color: #191928;
    font-family: 'syne';
}






/* about box */

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    width: 1290px;

}

.about-box

.mission {
    width: 590px;
    height: 280px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.05)100%);
    color: white;
    padding: 30px;
}

.mission h2{
   font-size: 32px;
   font-weight: bold;
}


.container-mission

{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 590px;
}


.container-about {
    color: aliceblue;
}

.since {
    margin: 100px 0 0 0  ;
    font-size: 56px;
    color: white;
}

.year {
    background-color: #DCFD68;
    padding: 0px 35px;
    font-weight: bold;
    border-radius: 32px;
    color: black;
}

.p-about{
    font-size: 18px;
    font-weight: normal;
}

/* container-about */

.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    
}
.about-box {
    margin: 0;
    padding: 0;
}


.about-box span {
    color: #DCFD68;
}

.about-box h2 {
    color: white;
    font-size: 56px;
    font-weight: normal;
}

.about-img {
    width: 630px;
    height: 368px;
}