@font-face {
    font-family: "syne";
    src: url(../assets/Fonts/Syne.ttf);
}



* {
margin: 0;
padding: 0;
}


body {
    background-color: #191928;
    font-family: 'syne';
}

/* container-about */

.container-about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Стили для заголовков */
h1, h2, h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}


.p-about {
    margin-bottom: 1rem;
    color: #666;
}

/* Стили для секции логотипа */
.logo-wrapper {
    text-align: center;
    margin: 4rem 0;
}

.logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 10px var(--shadow-color);
}


/* Стили для секции особенностей */
.features {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
}

.feature-item {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px 10px var(--shadow-color);
    transition: all 0.3s;
}

.feature-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 4px 15px var(--shadow-color);
}

.feature-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-item p {
    font-size: 1.6rem;
}

/* Медиа-запросы */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .feature-item {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }
    
    .content-block h1 {
        font-size: 2.8rem;
    }
    
    .feature-item h3 {
        font-size: 1.8rem;
    }
}