

/* ===========================================================
        Скрываем кнопку гамбургера на десктопе 
===============================================================*/
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #DCFD68;
    margin: 5px 0;
    transition: 0.4s;
}

/* Адаптация для планшетов и телефонов */
@media (max-width: 768px) {
    /* Показываем кнопку гамбургера */
    .hamburger {
        display: block;
    }
    
    /* Скрываем меню по умолчанию */
    .menu-list {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    
    /* Если меню открыто (добавляется через JS) */
    .menu-list.active {
        display: flex;
    }
}


/* ===========================================================
        Скрываем слайдер на десктопе 
===============================================================*/

.wrapper-slides {
    display: none;
}

/* ===========================================================
        mission-about для телефонов
===============================================================*/
/* Адаптация для планшетов и телефонов */
@media (max-width: 768px) {
    
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 80%;
    }

    .container-about {
        color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        width: 50%;
    }

    .about-box {
        text-align: center;
    }

}