.parNum {
    text-align: center;
    font-size: 15px;
    color: rgb(0, 222, 0);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    background-color: rgb(114, 93, 52);
}
hr {
    border: 1px solid rgb(0, 255, 30);
}

section {
    padding: 25px;
    background-color: rgba(86, 86, 86, 0.627);
}

.task{
    background-color: azure;
    color: black;
    max-width: 80%;
    margin: 0 0 0 45px  ;
    padding: 15px ;
}

.prodBox {
    font-size: 25px;
    
}
p {
    font-size: 14pt;
}

.boxAge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.boxAge div {
    border: 4px dotted rgb(31, 2, 255);
   padding: 15px;
   margin: 0 25px;
}